{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <h1>Здравствуйте. Меня зовут Алия, и я — автор проекта.</h1>
  <p><img src="{{ photo_2022.jpg.url }}" width="500" height="500" align="left"
    style=" border: 8px solid #aa1616;"></p>
    Здесь будет фоточка моего рабочего стола, но я пока думаю,как вставить ее сюда. 
    Затем я хочу изменить фон странички, но об этом тоже подумаю позже:)
    <aside class="col-10 col-md-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Этот сайт - шпаргалка для дальнейших основных проектов.</li>
        <li class="list-group-item">Проверка текста 1</li>
        <li class="list-group-item">Проверка текста 2</li>
        <li class="list-group-item">Проверка текста 3</li>
      </ul>
    </aside>
  </div>  
{% endblock %}
